@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playpen+Sans:wght@100;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

i svg {
    font-size: 3em;
    color: rgba(255, 255, 255, 0.7);
    
}
.svgimg{filter:drop-shadow(3px 3px 5px #1a0d0d)}

body{
    min-height: 100vh;
    background: url('./assets/fondo.avif') ;
    background-size: cover;
   
}



.tarjetas{
    background:  rgb(10 8 8 / 48%);
}

.tarjetas:nth-child(1):hover{
    background: red;
    box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
    
}
.tarjetas:nth-child(2):hover{
    background: yellowgreen;
     box-shadow: 0 0 10px yellowgreen, 0 0 40px yellowgreen, 0 0 80px yellowgreen;
    
}
.tarjetas:nth-child(3):hover{
    background: orange;
     box-shadow: 0 0 10px orange, 0 0 40px orange, 0 0 80px orange;
}
.tarjetas:nth-child(4):hover{
    background: aqua;
     box-shadow: 0 0 10px aqua, 0 0 40px aqua, 0 0 80px aqua;
}
.tarjetas:nth-child(5):hover{
    background: fuchsia;
     box-shadow: 0 0 10px fuchsia, 0 0 40px fuchsia, 0 0 80px fuchsia;
}
.tarjetas:nth-child(6):hover{
    background: orangered;
     box-shadow: 0 0 10px orangered, 0 0 40px orangered, 0 0 80px orangered;
}
.tarjetas:nth-child(7):hover{
    background: lime;
     box-shadow: 0 0 10px lime, 0 0 40px lime, 0 0 80px lime;
}
.tarjetas:nth-child(8):hover{
    background: mediumvioletred;
     box-shadow: 0 0 10px mediumvioletred, 0 0 40px mediumvioletred, 0 0 80px mediumvioletred;
}
.glass{
    
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-radius: 1.5rem;
    margin-top: 85px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
}
.glass-2{
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-radius: 50px;
}

