@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playpen+Sans:wght@100;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

i svg {
    font-size: 3em;
}
.svgimg{
    color: rgba(207, 207, 207, 0.7);
    filter:drop-shadow(3px 3px 5px #1a0d0d)}

.tarjetas:hover .svgimg{
    color: white;
}

body{
    margin: 0 25px 0 25px;
    min-height: 100vh;
    background: url('./assets/fondo.avif') ;
    background-size: cover;
   
}
.titulo{
    color: rgb(207, 207, 207);
}
.titulo:hover{
    color: #ffffff;
    filter:drop-shadow(0 0 10px #ffffff)
}
.neon{
    color: linear-gradient(to right, #fcd600, #00ff0d);
    filter: drop-shadow(2px -4px 4px #08fa008c);
}

.tarjetas {
    background:  rgb(10 8 8 / 48%);
}
.bt-quiz:hover{
    background: yellow;
    box-shadow: 0 0 10px yellow, 0 0 40px yellow, 0 0 80px yellow;
    color: black;
}
.tarjetas:nth-child(1):hover{
    background: red;
    box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
    
}
.tarjetas:nth-child(2):hover{
    background: goldenrod;
     box-shadow: 0 0 10px goldenrod, 0 0 40px goldenrod, 0 0 80px goldenrod;
    
}
.tarjetas:nth-child(3):hover{
    background: orange;
     box-shadow: 0 0 10px orange, 0 0 40px orange, 0 0 80px orange;
}
.tarjetas:nth-child(4):hover{
    background: aqua;
     box-shadow: 0 0 10px aqua, 0 0 40px aqua, 0 0 80px aqua;
}
.tarjetas:nth-child(5):hover{
    background: fuchsia;
     box-shadow: 0 0 10px fuchsia, 0 0 40px fuchsia, 0 0 80px fuchsia;
}
.tarjetas:nth-child(6):hover{
    background: orangered;
     box-shadow: 0 0 10px orangered, 0 0 40px orangered, 0 0 80px orangered;
}
.tarjetas:nth-child(7):hover{
    background: lime;
     box-shadow: 0 0 10px lime, 0 0 40px lime, 0 0 80px lime;
}
.tarjetas:nth-child(8):hover{
    background: mediumvioletred;
     box-shadow: 0 0 10px mediumvioletred, 0 0 40px mediumvioletred, 0 0 80px mediumvioletred;
}
.glass{
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-radius: 1.5rem;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
}
.cont{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
}
.verdadero{
    border: none;
    color: black;
    background: rgb(2, 250, 2);
    box-shadow: 0 0 10px rgb(2, 250, 2), 0 0 40px rgb(2, 250, 2), 0 0 80px rgb(2, 250, 2);
}
.falso{
    border: none;
    color: black;
    background: red;
    box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
}
.icono{
    font-size: 15em;
}

.rojo {
    color: red;
}

.amarillo {
    color: goldenrod;
}

.naranja{
    color: orange;
}

.aqua{
    color: aqua;
}

.fucsia{
    color: fuchsia;
}

.naranja-oscuro{
    color: orangered;
}

.lima{
    color: lime;
}

.violeta{
    color: mediumvioletred
}